/* .block{
    padding: 0 14px;

} */

.adventure-container{
    box-sizing: border-box;
    padding: 0 14px;
}
.alaskan-adventure{
    position: relative;
}
.alaskan-heading::before{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    background: linear-gradient(to top left, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0) 50%, var(--brandPrimary, #ffea00) 50%, var(--brandPrimary, #ffea00) 100%);
    color: #000;
   
    content:  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="28" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="12" width="18" height="24" rx="0" ry="0" fill="black"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4" fill="none"></path></svg>');
    font-family: wknd-icon-font !important;
    font-size: 1.25rem;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    padding: 9pt;
    position: absolute;
    text-transform: none;
    top:-7px;
    z-index: 2;
    bottom: 13px;

}
.amazon-heading::before{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    background: linear-gradient(to top left, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0) 50%, var(--brandPrimary, #ffea00) 50%, var(--brandPrimary, #ffea00) 100%);
    color: #000;
   
    content:  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="28" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="12" width="18" height="24" rx="0" ry="0" fill="black"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4" fill="none"></path></svg>');
    font-family: wknd-icon-font !important;
    font-size: 1.25rem;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    padding: 9pt;
    position: absolute;
    text-transform: none;
    top:-7px;
    z-index: 2;
    bottom: 13px;

}






.alaskan-heading{
    width: 177px;
    height: 27px;
    font-size: 15px;
    margin-top: 68px;
    font-weight: 600;
    font-family: var(--body-font-family);
}
.amazon-heading{
    width: 197px;
    height: 27px;
    font-size: 15px;
    margin-top: 68px;
    font-weight: 600;
    font-family: var(--body-font-family);
}
.alaskan-para{
    height: 24px;
    width: 168px;
    margin-top: 7px;
    color: rgb(105, 105, 105);
    font-family: var(--body-font-family);
    font-size: 12px;
}
.amazon-para{
    height: 24px;
    width: 286px;
    margin-top: 7px;
    color: rgb(105, 105, 105);
    font-family: var(--body-font-family);
    font-size: 12px;
}
.alaskan-action{
    background-color: #ebebeb;
    color: dimgray;
    width: 79px;
    font-size: var(--fontSizeSmall, 13px);
    padding: .5em 1em;
  
    height: 21px;
    margin-top: 24px;
    margin-bottom: 23px;
}
.amazon-action{
    background-color: #ebebeb;
    color: dimgray;
    width: 79px;
    font-size: var(--fontSizeSmall, 13px);
    padding: .5em 1em;
    height: 21px;
    margin-top: 16px;
    margin-bottom: 23px;
}
.alaskan-action > p{
    position: relative;
    color: rgb(105, 105, 105);
    bottom: 11px;
}
.alaskan-img > picture{
    display: block;
    height: 200px;
    width: 100%;

}
.alaskan-img > picture > img{
    width: 100%;
    object-fit: cover;
    height: 100%;

}
@media (width >= 768px ){
    
.adventure{
    box-sizing: border-box;
    padding: 0 14px;
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
}
.advntr-first{
    margin-right: 42px;
    width: 47%;
}
.amazon-block{
    width: 47%;
}


}
@media (width >=1025px){
    .advntr-first{
        width:36% ;
    }
    .amazon-block{
        width:36% ;
    }

}