.sandiego-img{
    width: 100%;
    height: auto;
    padding: 0 14px;
    box-sizing: border-box;
}
picture{
    width: 100%;
    display: block;
    height: auto;

}
 picture > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
