/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;

  /* fonts */
  --body-font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --heading-font-family: roboto-condensed, roboto-condensed-fallback, sans-serif;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav height */
  --nav-height: 64px;
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

body {
  display: block; /* Ensure it's visible */
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
  transition: transform 0.5s ease-in-out; /* Add smooth transition */
}
body.move-left {
  transform: translateX(-50vw);
}
body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 { font-size: var(--heading-font-size-xxl); }
h2 { font-size: var(--heading-font-size-xl); }
h3 { font-size: var(--heading-font-size-l); }
h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
} 

/* main img {
  max-width: 100%;
  width: auto;
  height: auto;
} */

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}
main{
  padding-top: 66px;
}

/* sections */
main > .section {
  margin: 28px 0;
}

main > .section > div {
  width: 100%;
  /* height: 204px; */
}

main > .section:first-of-type {
  margin-top: 0;
}



/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}
.shadow {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
}
.feature_cont{
  box-sizing: border-box;
  width: 100vw;
  padding: 0px 14px;
}
.feature-desc{
  font-size: 18px;
    background-color: rgb(235, 235, 235);
    color: black;
    display: flex;
    font-family: var(--body-font-family);
    flex-direction: column;
    line-height: 27px;
    margin-top: -18px;
    text-align: left;
    padding-bottom: 36px;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 63px;
}
.desc-para{
  font-weight: 600;
    font-size: 17px;
    margin-bottom: 13px;

}
.desc-para2{
  font-size: 14px;
    line-height: 24px;
    font-family: var(--body-font-family);
    color: rgb(79 76 76);
}
.desc-title{
  font-family: Asar, Georgia, "Times New Roman", Times, serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
}


.feature-img{
  margin-top: 0px;
  width: 100%;
    height: 22%;
}
.feature-img > picture{
  width: 100%;
  display: block;
  height: 100%;
} 

.feature-img > a > picture{
  width: 100%;
  display: block;
  height: 100%;
} 
.feature-img > picture > img{
  width: 100%;
  display: block;
  height: 100%;
} 
.feature-img > a >picture > img{
  width: 100%;
  display: block;
  height: 100%;
} 
#recent-articles{
  padding: 18px 14px;
  margin-bottom: -35px;
  
}
.art-heading{
  font-family: Asar, Georgia, "Times New Roman", Times, serif
  ;
  font-size: 34px;
    font-weight: 400;
}
.articles-wrapper{
  padding: 0 14px;
}
.places-Wrapper{
  padding: 0 14px;
}
.article_Img{
  display: block;
  height: 207px;
  width: 264px;
}

.article_Img img{
  width: 100%;
  height: 100%;
}
.artTitle{
  color: black;
  width: 260px;
  font-size: 18px;
  line-height: 27px;
  /* font-family: var(--body-font-family); */
  font-family: system-ui;
  font-weight: 600;
}
.art-desc{
  margin-top: 16px;
  font-size: 13px;
  line-height: 21px;
  height: 21px;
  text-transform: uppercase;
  color: rgb(105,105,105);
  font-family: var(--body-font-family);
  width: 260px;
  overflow-x: hidden;
  text-wrap-mode: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 28px;
}
.arc-line{
  margin-top: 85px;
  border: none;
  height: 1.8px;
  background-color: rgb(235,235,235);
}
#where-do-you-want-to-go{
  padding: 18px 14px;


}

#where-do-you-want-to-go strong{

  font-family: Asar, Georgia, "Times New Roman", Times, serif
  ;
  font-size: 24px;
    font-weight: 400;

  
}
.content_action{
  color: black !important;
  margin: 18px 0px;
  height: 49px;
  display: block;
  font-size: 12px;
  line-height: 27px;
  width: 138px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-weight: 400; */
  text-shadow: 0.5px 0.5px 0px rgba(0, 0, 0, 0.8);
 font-family: var(--body-font-family);
  cursor: pointer;
  background-color:rgb(255, 234, 0);
}

.trip_action{
  color: black !important;
  margin: 18px 0px;
  height: 49px;
  display: block;
  font-size: 12px;
  line-height: 27px;
  width: 138px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-weight: 400; */
  text-shadow: 0.5px 0.5px 0px rgba(0, 0, 0, 0.8);
 font-family: var(--body-font-family);
  cursor: pointer;
  background-color:rgb(255, 234, 0);
  text-transform: uppercase;
}
#next-adventures{
  margin-top: 67px;
    box-sizing: border-box;
    height: 104px;
    padding: 0px 14px;
    margin-bottom: -36px;
}
.title-block{
  font-weight: 400;
  font-size: 38px;
  font-family: Asar,Georgia,"Times New Roman",Times,serif;
}
.adv-line{
  margin-top: 10px;
  border: none;
  height: 1.8px;
  background-color: rgb(255, 234, 0);
  width: 95px;
  margin-left: 0px;
}
#climbing-new-zealand{
  padding: 0 14px;
    box-sizing: border-box;
    
    width: 100%;
    margin-top: -5px;
    display: block;
}
#climbing-new-zealand strong{
  font-family: Asar, Georgia, "Times New Roman", Times, serif;
    font-size: 36px;
}
.secDesc{
color: #4a4646;
    box-sizing: border-box;
    font-size: 17px;
    line-height: 31px;
    font-family: var(--body-font-family);
    padding: 0 14px;
}
.sec-action{
  padding: 3px 7px;
  color: black !important;
  margin: 18px 14px;
  height: 45px;
  display: block;
  font-size: 15px;
  line-height: 27px;
  width: 105px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  align-items: center;
  /* font-weight: 400; */
  text-shadow: 0.5px 0.5px 0px rgba(0, 0, 0, 0.8);
  font-family: var(--body-font-family);
  cursor: pointer;
  background-color: rgb(255, 234, 0);
}
.sec-img{
  height: 39%;
    width: 100%;

}
.sec-img picture{
  height: 100%;
    display: block;
    width: 100%;

}
.sec-img picture img{
  height: 100%;   
    width: 100%;
}
#about-us{
  box-sizing: border-box;
    height: 60px;
    font-family: Asar, Georgia, "Times New Roman", Times, serif;
    font-size: 40px;
    font-weight: 400;

}
#our-contributors{
  font-size: 36px;
    height: 70px;
    font-weight: 400;
    line-height: 27px;
    font-family: Asar, Georgia, "Times New Roman", Times, serif;
    /* font-family: var(--body-font-family); */
    display: flex;
    align-items: center;
}
.feature_cont > p > em{
  font-size: 14px;
  font-family: var(--body-font-family);
  height: 105px;
  display: block;
  line-height: 35px;
  color: rgb(95 93 93);

}
.content-act{
  width: 100%;
}
.trip-act{
  width: 100%;
}
#share-this-story{
  margin-bottom: 32px;
}
#share-this-story > strong{
  font-size: 14px;
  font-weight: 600;

  font-family: var(--body-font-family);

}
.story_ul{
  list-style: none;
  color: black;
  padding-left: 0px;
}
.story-liItem1 > a{
  color: black;
  border-left-color: rgb(235, 235, 235);
  border-left-style: solid;
  border-left-width: 4px;
  font-size: 18px;
  font-weight: 400;
  line-height: 120px;
  padding: 10px 16px;

}
.story-liItem2{

  margin-top: -50px;
  border-left-color: rgb(235, 235, 235);
  border-left-style: solid;
  border-left-width: 4px;
  height: 84px;

}
.story-liItem2 > a{
  color: #9c9393;
  cursor: pointer;
  font-family: var(--body-font-family);
  font-size: 12px;
  padding: 23px;

}
#gorgeous-beach-point-breaks{

  font-family: var(--body-font-family);
  font-size: 14px;
  line-height: 21px;
}
.san-diego-surf{
  padding: 0 14px;
}
.san-diego-surf h2{
  font-size: 36px;
    margin-top: 27px;
    font-family: Asar, Georgia, "Times New Roman", Times, serif;
    font-weight: 400;

}
.san-diego-surf p{
  line-height: 45px;
    font-size: 17px;
    font-family: var(--body-font-family);
}

  @media (width >= 556px) {
    .articles-wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  

    }
    .places-Wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
   

    
  }
  @media(width >=768px){
    .feature_cont{
      width: 100%;
      height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: row-reverse;
    }
   

    .feature-desc{
      width: 43%;
      justify-content: center;
      display: flex;
      flex-direction: column;
      font-size: 18px;
    background-color: rgb(235, 235, 235);
    color: black;
    font-family: var(--body-font-family);
    flex-direction: column;
    line-height: 27px;
    margin-top: -1px;
    text-align: left;
    padding-bottom: 36px;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 63px;
    }
    .feature-img{
      display: flex;
      align-items: center;
      margin-top: 0px;
      width: 100%;
      /* height: 100%; */
      height: auto;
      margin-bottom: 0px;
    }
    .feature-img > a{
      height: 100%;
      width: 100%;
    }
    .feature-img > a > picture{
      width: 100%;
      height: 100%;
      display: block;
    }
    .feature-img > a > picture > img{
      object-fit: cover;
      width: 100%;
      height: 100%;

    }
    

  }
   @media(width >= 1025px){
    main{
      margin: 0 200px;
    }
    .sec-img{
      width: 100%;
    }
   }

   